<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a href="/" class="nav-link">
					Home
				</a>
			</li>
			<li class="nav-item">
				<a href="/products" class="nav-link">
					Products
				</a>
			</li>
		</ul>
	</nav>
